@model FeatureRelationModel
@{
    ViewData["Title"] = "TechnolohyShop - Ürüne Özellik Ekle";
}
@section CustomCss {
    <link rel="stylesheet" href="~/Assets/vendor/datatables/media/css/dataTables.bootstrap4.css" />
    <link rel="stylesheet" href="~/Assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css" />
    <link rel="stylesheet" href="~/Assets/vendor/select2/css/select2.css" />
    <link rel="stylesheet" href="~/Assets/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="~/Assets/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css" />
    <link href="~/css/dropzone.css" rel="stylesheet" />

}
<header class="page-header">
    <h2>Ürüne Özellik Ekle</h2>
    <div class="right-wrapper text-right pr-3">
        <ol class="breadcrumbs">
            <li>
                <i class="fas fa-home"></i>
            </li>
            <li><span>Ürüne Özellik Ekle</span></li>
        </ol>
    </div>
</header>

@if (!string.IsNullOrEmpty(Model.Result.Message))
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>Bilgi!</strong> @Model.Result.Message
            </div>
        </div>
    </div>
}
<div class="row">
    <h4 class="card-title" style="margin-top:20px;margin-left:20px"><b>Ürün Adı:</b> @Model.Product.Name</h4>
</div>
<div class="row">
    <div class="col-md-8">
        <section class="card">
            <header class="card-header">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                </div>
                <h2 class="card-title">Ürüne Özellik Ekle</h2>
            </header>
            <div class="card-body">
                <table class="table table-bordered table-striped table-sm mb-0" id="datatable-default">
                    <thead>
                        <tr>
                            <th>Özellik Türü</th>
                            <th>Özellik</th>
                            <th class="text-center" width="70px">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var featureRelation in Model.FeatureRelationDtos)
                        {
                            <tr>
                                <td>@featureRelation.Feature.Name</td>
                                <td>@featureRelation.Feature.Choice</td>
                                <td class="text-center no-wrap" width="70px">
                                    <a asp-controller="FeatureRelation" asp-action="Delete" asp-route-id="@featureRelation.Feature.Id" class="btn btn-danger btn-sm " data-toggle="tooltip" data-placement="bottom" title="Sil"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="card">
            <header class="card-header">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                </div>
                <h2 class="card-title">Ürüne Özellik Formu</h2>
            </header>
            <form id="user-form" class="default-form" asp-controller="FeatureRelation" asp-action="Save" method="post" enctype="multipart/form-data">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <label>Özellik Türü</label>
                            <select id="my-main-select" class="form-control form-control-sm">
                                <option value="0">Özellik Türü Seç</option>
                                @foreach (var feature in Model.Features.DistinctBy(x => x.Name))
                                {
                                    <option value="@feature.Id">@feature.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Özellik</label>
                                <select id="my-second-select" class="form-control form-control-sm" asp-for="@Model.FeatureRelation.FeatureId">
                                    <option value="0">Özellik Seç</option>
                                    @foreach (var feature in Model.Features)
                                    {
                                        <option value="@feature.Id">@feature.Choice</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <input id="id" type="hidden" asp-for="@Model.FeatureRelation.ProductId" />
                    <a href="~/feature-products/@Model.FeatureRelation.ProductId" class="btn btn-danger"><i class="fas fa-times"></i> Temizle</a>
                    <button class="btn btn-success" id="submit" type="submit"><i class="fas fa-save"></i> Kaydet</button>
                </div>
            </form>
        </section>
    </div>
</div>
@section CustomScripts {
    <script src="~/Assets/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Assets/vendor/datatables/media/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Assets/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="~/Assets/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Assets/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.html5.min.js"></script>
    <script src="~/Assets/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.print.min.js"></script>
    <script src="~/Assets/vendor/datatables/extras/TableTools/JSZip-2.5.0/jszip.min.js"></script>
    <script src="~/Assets/vendor/datatables/extras/TableTools/pdfmake-0.1.32/pdfmake.min.js"></script>
    <script src="~/Assets/vendor/datatables/extras/TableTools/pdfmake-0.1.32/vfs_fonts.js"></script>
    <script src="~/Assets/vendor/jquery-validation/jquery.validate.js"></script>
    <script src="~/Assets/js/form.validation.js"></script>
    <script src="~/Assets/vendor/jquery-validation/localization/messages_tr.js"></script>
    <script src="~/Assets/js/numbersonly.js"></script>
    <script src="~/Assets/js/sweetalert2.all.min.js"></script>
    <script src="~/Assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
    <script src="~/Assets/vendor/select2/js/select2.js"></script>
    <script src="~/Assets/vendor/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>

    <script type="text/javascript">
        (function ($) {

            'use strict';

            var datatableInit = function () {

                $('#datatable-default').dataTable({
                    dom: '<"row"<"col-lg-6"l><"col-lg-6"f>><"table-responsive"t>p',
                    "pageLength": 100
                });

            };

            $(function () {
                datatableInit();
            });

        }).apply(this, [jQuery]);

        $("form").validate({
            lang: 'tr'
        });

        $("#my-main-select").on('change', function () {
            var selected = $(this).val();
            if (selected == 0) {
                $("#my-second-select").empty();
                $("#my-second-select").append("<option value='0'>Tüm Özellik Türleri</option>");
            }
            else {
                $.ajax({
                    url: '@Url.Action("GetFeatures","FeatureRelation")',
                    method: "GET",
                    data: { featureId: selected },
                    success: function (data) {
                        $("#my-second-select").empty();
                        $.each(data, function (key, value) {
                            $("#my-second-select").append("<option value='"+value.id+"'>"+value.choice+"</option>");
                        });
                    }
                });
            }
        });
    </script>
}